@import "tailwindcss";

#root{
    width: 100vw;   /* 100% del ancho de la ventana */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(47,88%,63%);
}

@font-face {
  font-family: 'Figtree';
  src: url('./fonts/Figtree-ExtraBold_wght.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./fonts/Figtree-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
